.images-grid {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    position: relative;
    align-items: center;
}

.no-results {
    font-size: 34px;
    width: 100%;
    margin-top: 55px;
    text-align: center;
    color: #ff0076;
}

.results-count {
    display: none;
    float: left;
    width: 100%;
    padding: 0 10px 15px 10px;
    color: #ccc;
}

.results-count.show {
    display: block;
}

.results-count span {
    color: #aaa;
}