* {
  outline: none;
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.wrapper{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.wrapper.sidebar-open{
    animation: openSidebar .9s forwards;
}

.wrapper.sidebar-close{
    animation: closeSidebar .5s forwards;
}

@keyframes openSidebar {
  0% {
    left: 0px
  }
  100% {
    left: 200px;
  }
}

@keyframes closeSidebar {
  0% {
    left: 200px
  }
  100% {
    left: 0px;
  }
}


.container{
  max-width:980px;
  margin: 0 auto;
  transition: all 0.3s ease-out; 
}

.searching .container {
    max-width:100%;
}


.searching .search-container{
    margin-top: 0px;
    background: #EFF0F1;
    padding: 20px 0;
}

.searching .Typist {
    margin-left: 30px;
    color:#ff0089;
    font-size: 24px;
}

.searching .footer{
  padding: 20px 0;
}