.search-container{
    width:100%;
    margin-top: 100px;
    text-align: center;
    transition: all 0.5s ease-out; 
}

.search-container input{
    width:50%;
    height:44px;
    line-height:44px;
    font-size:22px;
    border:2px solid #eee;
    padding:0 10px;
}


.search-btn{
    padding: 11px 9px 11px 9px;
    vertical-align: top;
    border: 2px solid #ff0076;
    color: #ff0076;
    display: inline-block;
    cursor: pointer;
}

.search-btn:hover{
    animation: searchBtnColorchange 0.5s forwards; 
}

@keyframes searchBtnColorchange {
    0% {
        background: #fff;
    }
    100% {
        background: #ff0076;
        color: #fff;
    }
}

.Typist {
    font-size: 50px;
    margin-left: -80px;
    padding: 0 0 10px 0;
    display: inline-block;
    text-align: left;
    width: 50%;
    color: #ccc;
    transition: all 0.5s ease-out; 
}

.Typist span{
    color: #83adf1;
    font-weight: bold;
}

.Typist span:last-of-type{
    margin-left: 7px;
}

.back-home {
    display: none;
    float: right;
    color: #b3b3b3;
    margin: -10px 25px 0 0;
    cursor: pointer;
}

.back-home:hover {
    color:#7b7b7b;
}


.back-home.show {
    display: block;
}